<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes-App</title>
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" , rel="stylesheet")
    style
            include ../static/style.css
            include ../static/index.css
</head>
<body>
    <div class="nav">
        <li class="heading list">My-Notes</li>
        <li class="list">Create Note</li>
        <li class="list">Your Notes</li>
    </div>
    <div class="informations">
        <div class="image"></div>
        <ul class="listItems">
            <li>Author : Paras Punjabi</li>
            <li>Job : Programmer and Full Stack Web Developer</li>
            <li>Made this Notes taking app by using Express.js, Mongoose.js, pug, Node.js, Vanilla JavaScript, CSS and Cors</li>
            <li title="Github" class="link"><a href="http://github.com/Paras-Punjabi"><i class="fab fa-github"></i></a></li>
            <li title="Instagram" class="link"><a href="http://instagram.com/paras.punjabi.7"><i class="fab fa-instagram"></i></a></li>
            <li title="Facebook" class="link"><a href="http://www.facebook.com/paras.punjabi.7"><i class="fab fa-facebook"></i></a></li>
        </ul>
    </div>
</body>
script
        include ../static/script.js
</html>