<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes-App</title>
    style
            include ../static/style.css
</head>
<body>
    <div class="nav">
        <li class="heading list">My-Notes</li>
        <li class="list">Create Note</li>
        <li class="list">Your Notes</li>
    </div>
    <table class="table">
        <tr class="headings">
            <td>Sr No.</td>
            <td>Date</td>
            <td>Title</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
    

    </table>
</body>
script
        include ../static/show.js
        include ../static/script.js

    
</html>