* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  background-color: rgb(39, 36, 36);
}
.heading {
  margin-left: 20px;
  font-size: 34px !important;
  letter-spacing: 2px;
  color: rgb(192, 181, 181);
}

.list {
  list-style: none;
  font-size: 20px;
  margin: 24px;
  color: whitesmoke;
}

.list:not(.heading):hover {
  cursor: pointer;
  color: rgb(48, 44, 44);
  background-color: whitesmoke;
  border-radius: 20px;
  line-height: 30px;
  padding: 5px;
}

.heading{
  cursor: pointer;
}
.form {
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  box-shadow: 21px -6px 32px #171616;
}
#desc {
  resize: none;
  overflow-y: auto;
}
.save {
  font-size: 24px !important;
}
label{
  font-weight: bolder;
  font-family: monospace;
  font-size: 27px;
}


tr {
  margin: 5px;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr 5fr 3fr;
  text-align: center;
}
table{
  margin: auto;
  margin-top: 40px;
  width: 80vw;
  height: auto;
  padding: 5px;
  border-radius: 20px;
  font-size: 30px;
  box-shadow: 21px -6px 32px #171616;
}
.headings{
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 6px -1px 9px #110f0f;
  font-family: monospace;
}
.deleteBtn{
  padding: 5px;
  font-size: 20px;
  border: none;
  background-color: rgb(236, 70, 70);
  border-radius: 5px;
  cursor: pointer;
  color: aliceblue;
}

.deleteBtn:hover{
  background-color:rgb(209, 20, 20);
}

